<ng-container *ngIf="innerWidth <= 1200; else desktop">
  <div
    @fade
    class="w-full circle absolute -z-10 top-0 h-[50%] bg-userOrange"
  ></div>
  <app-navbar @fade></app-navbar>
  <main @fade class="mx-24 mt-3">
    <div id="headerTitles">
      <h2 class="text-3xl">Hello {{ name | uppercase }} 👋🏼</h2>
      <h1 class="text-6xl font-black mt-3">
        My <span class="text-userMediumPurple">Customers</span>
      </h1>
    </div>
    <div id="searchContainer" class="w-full mt-8">
      <input
        class="form-control-lg w-full h-16"
        type="search"
        placeholder="Search"
        [(ngModel)]="search"
      />
      <div class="btnContainer relative flex flex-row justify-between mt-8">
        <button
          (click)="showEditMenu = !showEditMenu"
          class="relative w-48 h-14 rounded-lg border-2 border-userMediumPurple text-2xl"
        >
          Filter <i class="fa-solid fa-sort ml-3"></i>
        </button>
        <button
          (click)="addCustomer()"
          class="w-48 h-14 rounded-lg text-white bg-userMediumPurple text-2xl hover:bg-userDarkPurple"
        >
          Add New <i class="plusIcon fa-solid fa-plus ml-3"></i>
        </button>
      </div>
      <ng-container *ngIf="showEditMenu">
        <form
          (change)="radioChange($event)"
          #filterForm="ngForm"
          @fade
          class="cardMenu w-fit absolute top-[27rem] flex flex-col gap-3 border-2 border-userDarkPurple rounded-2xl py-3 px-3 bg-white"
        >
          <div class="flex gap-2 flex-row text-3xl text-bold">
            <input
              value="firstname"
              checked
              type="radio"
              name="radioCheck"
              id="firstName"
            />
            <label for="firstName">First Name</label>
          </div>
          <div class="flex gap-2 flex-row text-3xl text-bold">
            <input
              value="lastname"
              type="radio"
              name="radioCheck"
              id="lastName"
            />
            <label for="lastName">Last Name</label>
          </div>
          <div class="flex gap-2 flex-row text-3xl text-bold">
            <input value="phone" type="radio" name="radioCheck" id="phone" />
            <label for="phone">Phone</label>
          </div>
        </form>
      </ng-container>
    </div>

    <div class="w-full grid place-content-center">
      <iframe
        *ngIf="showLoader"
        src="https://embed.lottiefiles.com/animation/96372"
      ></iframe>
    </div>
    <div class="customerCardContainer flex flex-col gap-6 mt-48">
      <article
        class="w-full rounded-lg"
        *ngFor="let customer of customerArr | allFilter : filterSearch : search"
      >
        <app-customer-card-mobile
          [customer]="customer"
        ></app-customer-card-mobile>
      </article>
    </div>
  </main>
</ng-container>
<ng-template #desktop>
  <app-desktop-menu></app-desktop-menu>
  <div
    @fade
    class="w-full circle absolute -z-10 top-0 h-[30rem] bg-userOrange"
  ></div>
  <main @fade class="mx-[25rem] py-14 mt-3">
    <div id="headerTitles">
      <h2 class="text-3xl">Hello {{ name | uppercase }} 👋🏼</h2>
      <h1 class="text-6xl font-black mt-3">
        My <span class="text-userMediumPurple">Customers</span>
      </h1>
    </div>
    <div id="searchContainer" class="w-[44rem] mt-8">
      <input
        class="form-control-lg w-full h-16 text-2xl"
        type="search"
        [placeholder]="placeholder |titlecase"
        [(ngModel)]="search"
      />
    </div>
    <div class="flex gap-8 mt-10 w-100 justify-between">
      <div class="flex gap-8">
        <form
        (change)="radioChange($event)"
        #filterForm="ngForm"
        @fade
        class="cardMenu w-[44rem] relative justify-between  flex  gap-3 border-2 border-userDarkPurple border-opacity-5 hover:border-opacity-100 rounded-2xl py-3 px-3"
      >
        <div class="flex gap-2 flex-row text-3xl text-bold">
          <input
            value="firstname"
            checked
            type="radio"
            name="radioCheck"
            id="firstName"
          />
          <label for="firstName">First Name</label>
        </div>
        <div class="flex gap-2 flex-row text-3xl text-bold">
          <input
            value="lastname"
            type="radio"
            name="radioCheck"
            id="lastName"
          />
          <label for="lastName">Last Name</label>
        </div>
        <div class="flex gap-2 flex-row text-3xl text-bold">
          <input value="phone" type="radio" name="radioCheck" id="phone" />
          <label for="phone">Phone</label>
        </div>
      </form>
      </div>
      <button
        (click)="addCustomer()"
        class="w-48 h-14 rounded-lg text-white bg-userMediumPurple text-2xl hover:bg-userDarkPurple"
      >
        Add New <i class="plusIcon fa-solid fa-plus ml-3"></i>
      </button>
    </div>
    <table
      class="w-100 border-collapse border-2 py-2 px-6 border-userDarkPurple mt-36 text-start"
    >
      <thead>
        <tr>
          <th
            class="text-5xl py-2 px-6 bg-userMediumPurple text-white"
          >
            ID
          </th>
          <th
            class="text-5xl py-2 px-6 whitespace-nowrap bg-userMediumPurple text-white"
          >
            Full Name
          </th>
          <th
            class="text-5xl py-2 px-6 bg-userMediumPurple text-white"
          >
            Phone
          </th>
          <th
            class="text-5xl py-2 px-6 bg-userMediumPurple text-white"
          >
            Email Address
          </th>
          <th
            class="text-5xl py-2 px-6 bg-userMediumPurple text-white"
          >
            Actions
          </th>
        </tr>
      </thead>
      <tbody
        *ngFor="let customer of customerArr | allFilter : filterSearch:search; let i = index"
        class="odd:bg-indigo-50"
      >
        <tr >
          <td
            class="text-4xl border-userDarkPurple py-2 px-6 text-center"
          >
            {{ i+1 }}
          </td>
          <td class="text-4xl border-userDarkPurple whitespace-nowrap py-2 px-6 font-bold">
           {{customer.firstname |titlecase}} {{customer.lastname |titlecase}}
          </td>
          <td class="text-4xl border-userDarkPurple py-2 px-6">
            {{ customer.phone }}
          </td>
          <td class="text-4xl border-userDarkPurple py-2 px-6">
            {{ customer.email }}
          </td>
          <td
            class="text-4xl flex justify-evenly border-userDarkPurple  py-2 px-6"
          >
            <i role="button"
              class="fa-solid fa-circle-info"
              [routerLink]="customer.id" [state]="customer"
            ></i>
            |
            <i role="button"
              (click)="editCustomer(customer)"
              class="fa-solid fa-pen text-green-500"
            ></i>
            |
            <i role="button"
              class="fa-solid fa-trash text-red-500"
              (click)="deleteCustomer(customer)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</ng-template>
