.circle{
    border-radius: 0 0 50% 50%;
    /* filter: blur(3px);*/
    box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.31); 
}
*{
    transition: 0.25s all linear;
}
.cardMenu{
    backdrop-filter: blur(3px);
}
button:hover .plusIcon{
    animation: rotateIcon 8s linear both infinite;
}
@keyframes rotateIcon {
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 180deg;
    }
    100%{
        rotate: 360deg;
    }
}
