<nav class="w-80 h-screen  bg-userMediumPurple shadow-2xl top-0 left-0 text-white z-20 px-8  py-[4rem] pb-24 text-4xl flex flex-col justify-between opacity-95">
    <div class="flex flex-col gap-6">
        <a routerLink="/customerDashboard"  class="hover:text-userOrange"><i class="fa-solid fa-face-smile mr-4"></i> Costumer</a>
        <a routerLink="/employeeDashboard"  class="hover:text-userOrange"><i class="fa-solid fa-briefcase mr-4"></i> Employee</a>
      </div>
      <button
      class="w-52 h-16 rounded-lg text-black font-bold bg-userOrange text-2xl  mb-10"
      (click)="logout()"
    >
      Logout <i class="fa-solid fa-right-from-bracket ml-3"></i>
    </button>
</nav>
