<form
  #loginForm
  (ngSubmit)="login()"
  class="px-12  py-22 h-screen"
>
<section class="top flex flex-col gap-14 items-center">
      <div class="w-full bg-userOrange "></div>
      <img width="145" height="120" src="assets/icons/logo.png" alt="logo" />
      <h1 class="text-7xl text-center leading-[1.2]">
        Welcome, Login to
        <span class="text-userMediumPurple font-black underline">Start</span>
      </h1>
      <section class="middle font-light text-2xl text-center">
          <p>Demo Username: user@crm.example</p>
          <p>Demo Password: 123456789</p>
      </section>
      <section class="bottom form">
        <app-login-form></app-login-form>
      </section>
  </section>
</form>
