<form #loginForm="ngForm" (ngSubmit)="login()" class="px-12 py-[4.5rem] h-screen">
  <section class="top flex flex-col items-center mb-16">
    <div class="w-full circle absolute -z-10 top-0 h-[43%] bg-userOrange"></div>
    <div class="flex flex-col gap-8 items-center">
      <img width="115" height="100" src="assets/icons/logo.png" alt="logo" />
      <h1 class="text-7xl text-center leading-[1.2]">
        Welcome, Login to
        <span class="text-userMediumPurple font-bold underline boldFont"
          >Start</span
        >
      </h1>
    </div>
  </section>
  <section class="middle font-light text-2xl text-center relative top-4 mb-16">
    <p>Demo Username: user@crm.example</p>
    <p>Demo Password: 123456789</p>
  </section>
 
  <section class="bottom form w-full">
    <div class="flex flex-col gap-3">
      <div class="form-floating username">
        <input
          type="email"
          name="email"
          class="form-control border-2 border-userDarkPurple"
          id="floatingInput"
          placeholder="name@domain.com"
          [(ngModel)]="user.email"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating password">
        <input
          type="password"
          name="password"
          class="form-control border-2 border-userDarkPurple"
          id="floatingPassword"
          placeholder="Password"
          [(ngModel)]="user.password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <small *ngIf="loginFailed" class="text-red-600">Email or Password is incorrect, try again</small>
      <small >Not a member? <a routerLink="/register">register</a></small>
      <button
        class="w-full h-20 border-userMediumPurple text-3xl font-bold text-userMediumPurple border-4 rounded-lg"
        type="submit"
      >
        Login
      </button>
      <p class="text-4xl text-center">OR</p>
      <div
        class="w-full h-20 bg-userMediumPurple text-3xl font-bold text-white rounded-lg flex flex-row justify-center items-center"
        (click)="loginWithGoogle()"
      >
        <i class="fa-brands fa-google mr-3"></i> Login With Google
      </div>
    </div>
  </section>
</form>
