<form class="mx-3" #editCustomerForm="ngForm" (ngSubmit)="addData()" novalidate>
  
    <h1 class="text-4xl my-5  leading-[1.2]">
        Great, Let's Add a New
        <span class="text-userMediumPurple font-bold underline boldFont"
          >Customer</span>
      </h1>
      
    <div class="flex flex-col gap-3">
      <div class="form-floating firstname">
        <input
          type="text"
          name="firstname"
          class="form-control border-2 border-userDarkPurple"
          id="floatingInput"
          placeholder="firstname"
          [(ngModel)]="customer.firstname"
          #firstname="ngModel"
          minlength="2"
          required
        />
        <label for="floatingInput">First Name</label>
        <small *ngIf="!firstname?.valid &&(firstname?.touched)" class="text-danger  text-lg">first name must be at least 2 characters</small>
      </div>
      <div class="form-floating lastname">
        <input
          type="text"
          name="lastname"
          class="form-control border-2 border-userDarkPurple"
          id="floatinglastname"
          placeholder="lastname"
          [(ngModel)]="customer.lastname"
          #lastname="ngModel"
          minlength="2"
          required
        />
        <label for="floatinglastname">Last Name</label>
        <small  *ngIf="!lastname?.valid &&(lastname?.touched)" class="text-danger  text-lg">last name must be at least 2 characters</small>
      </div>
      <div class="form-floating phone">
        <input
          type="text"
          pattern="\d*"
          name="phone"
          class="form-control border-2 border-userDarkPurple"
          id="floatingphone"
          placeholder="phone"
          [(ngModel)]="customer.phone"
          #phone="ngModel"
          required
          maxlength="10"
        />
        <label for="floatingphone">phone</label>
        <small  *ngIf="!phone?.valid &&(phone?.touched)" class="text-danger  text-lg">phone must be at least 10 characters</small>
        
      </div>
      <div class="form-floating email">
        <input
          type="email"
          name="email"
          class="form-control border-2 border-userDarkPurple"
          id="email"
          placeholder="email"
          #email="ngModel"
          [(ngModel)]="customer.email"
          email

        />
        <label for="email">email</label>
        <small  *ngIf="!email?.valid &&(email?.touched || email?.dirty)" class="text-danger  text-lg">wrong email format, cannot be empty and example@gmail.com</small>
      </div>
      <button *ngIf="!isAdded; else added"  class="w-full h-20 mb-5 bg-userMediumPurple text-3xl font-bold text-white rounded-lg flex flex-row justify-center items-center" [disabled]="!editCustomerForm.valid" >ADD <span><i class="fa-solid fa-champagne-glasses ml-4"></i></span> </button>
      <ng-template  #added><iframe src="https://embed.lottiefiles.com/animation/95088"></iframe></ng-template>
    </div>
</form>

