.circle{
    border-radius: 0 0 50% 50%;
    /* filter: blur(3px);*/
    box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.31); 
}
small{
    font-size: 1.4rem;
}
button:disabled{
    background-color: #524a61;
    color: white;
}
button{
    transition: 0.25s linear all;
}
.or{
    animation: rotate 10s infinite backwards;
}

@keyframes rotate {
    0%{
        rotate: 0deg;
        transform: translateY(0);
    }
    50%{
        rotate: 180deg;
        translate: 20%;
    }
    100%{
        rotate: 360deg;
        transform: translateY(0);
    }
}