.circle{
    border-radius: 0 0 50% 50%;
    /* filter: blur(3px);*/
    box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.31); 
}
small{
    font-size: 1.4rem;
}
button:disabled{
    background-color: #524a61;
}