<form #registerForm="ngForm" (ngSubmit)="register()" class="px-12 py-[4.5rem] h-screen">
    <section class="top flex flex-col items-center mb-16">
      <div class="w-full circle absolute -z-10 top-0 h-[43%] bg-userOrange"></div>
      <div class="flex flex-col gap-8 items-center">
        <img width="115" height="100" src="assets/icons/logo.png" alt="logo" />
        <h1 class="text-7xl text-center leading-[1.2]">
          Hey, <span class="text-userMediumPurple font-bold underline boldFont"
          >Happy</span
        > to see you
          
        </h1>
      </div>
    </section>
    <section class="bottom form w-full">
      <div class="flex flex-col gap-3">
        <div class="form-floating username">
          <input
            type="email"
            name="email"
            class="form-control border-2 border-userDarkPurple"
            id="floatingInput"
            [ngStyle]="{borderLeftWidth:(email?.touched || email?.dirty) ? '0.7rem' : '0.7rem',borderLeftColor:(email.valid &&  (email.value != '')) ? 'green' : 'tomato'}"
            placeholder="name@domain.com"
            [(ngModel)]="user.email"
            #email="ngModel"
            email
          />
          <label for="floatingInput">Email address</label>
          <small  *ngIf="!email?.valid &&(email?.touched || email?.dirty)" class="text-danger  text-lg"><i class="fa-solid fa-triangle-exclamation text-danger  text-lg"></i> - wrong email format, cannot be empty and example@gmail.com</small>
        </div>
        <div class="form-floating password">
          <input
            type="password"
            name="password"
            class="form-control border-2 border-userDarkPurple"
            id="floatingPassword"
            placeholder="Password"
            [(ngModel)]="user.password"
            [ngStyle]="{borderLeftWidth:(password?.touched || password?.dirty) ? '0.7rem' : '0.7rem',borderLeftColor:(password.valid &&  (password.value != '')) ? 'green' : 'tomato'}"
            #password="ngModel"
            minlength="6"
          />
          <label for="floatingPassword">Password</label>
          <small class="block" *ngIf="!password?.valid &&(password?.touched)" class="text-danger  text-lg"><i class="fa-solid fa-triangle-exclamation text-danger  text-lg"></i> - Password must be at least 6 characters</small>
    
        </div>

        <button
          class="w-full h-20 bg-userMediumPurple text-3xl font-bold text-white rounded-lg flex flex-row justify-center items-center"
          [disabled]="!registerForm.valid"
        >
        <i class="fa-solid fa-cash-register mr-6"></i> Register
        </button>
      </div>
    </section>
  </form>
  